<!DOCTYPE html>
<html lang="fr">
    <!-- ViewStart -->
    <head>
        <title>Comparez deux smartphone</title>
        <meta charset="utf-8">
        <meta name="author" content="pixelhint.com">
        <meta name="description" content="COMPARED , comparateur de smartphone"/>
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/reset.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/fancybox-thumbs.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/fancybox-buttons.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/fancybox.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/animate.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/main.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/selectize.css">
        <link rel="stylesheet" type="text/css" href="PUBLIC/CSS/bootstrap.css">

        <script type="text/javascript" src="PUBLIC/JS/jquery.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/typehead.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/fancybox.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/fancybox-buttons.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/fancybox-media.js"></script>

        <script type="text/javascript" src="PUBLIC/JS/fancybox-thumbs.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/wow.js"></script>
        <script type="text/javascript" src="PUBLIC/JS/bootstrap.js"></script>





    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#drp">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#">COMPARED</a>
                      <div class=" collapse col-md-9 col-xs-4 center-block " style="text-align: center;margin-top:8px!important;">
                    <button type="submit" class="btn btn-danger">Commencer la comparaison</button>
                    &nbsp;
                    <span class="fa-2x text-warning"> 0 smartphone(s) sélectionné(s)</span>

                </div>

                </div>
              
                <div class="collapse navbar-collapse" id="drp" >

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="Wui.php?run=getHomePage&argument=void">Site principal</a></li>
                        <li><a href="Wui.php?run=getHomePage&argument=void#smartphones">Smartphones</a></li>
                        <li><a href="Wui.php?run=getHomePage&argument=void#apropos">A propos</a></li>
                        <li><a href="Wui.php?run=getHomePage&argument=void#contact">Contact</a></li>
                        <li><a href="Wui.php?run=show&argument=viewML">Mentions Légales</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container billboard light animated wow zoomIn clearfix fix " style="text-align: center;">


            <div class="row">
                {% for item in phoneList %}
                    <div class="col-md-2  col-md-4 col-xs-4 text-center borderA">
                        <img class="img-responsive picsGall" src="PUBLIC/IMAGE/smartphones/{{ item['pictureS']}}.jpg">
                        <h3><a href="#">{{ item['fullNameS']}}</a></h3>

                    </div>
                {% endfor %}
            </div>

        </section><!--  End billboard  -->

        <footer>
            <nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <a class="navbar-brand" href="#">© 2015  COMPARED | The french smartphone comparator (Octimum)

                    </div>


            </nav>

        </footer>	
        <script type="text/javascript">

            var substringMatcher = function (strs) {
                return function findMatches(q, cb) {
                    var matches, substrRegex;

                    // an array that will be populated with substring matches
                    matches = [];

                    // regex used to determine if a string contains the substring `q`
                    substrRegex = new RegExp(q, 'i');

                    // iterate through the pool of strings and for any string that
                    // contains the substring `q`, add it to the `matches` array
                    $.each(strs, function (i, str) {
                        if (substrRegex.test(str)) {
                            // the typeahead jQuery plugin expects suggestions to a
                            // JavaScript object, refer to typeahead docs for more info
                            matches.push({value: str});
                        }
                    });

                    cb(matches);
                };
            };
            var sm = $.ajax({
                url: "Wui.php?run=search&argument=NULL",
                type: "POST",
                dataType: 'json',
                success: function (_data) {
                    //console.log(_data);
                    $('.typeahead').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'sm',
                        displayKey: 'value',
                        source: substringMatcher(_data) //substringMatcher(sm)
                    });
                }
            });
            //var arr = jQuery.makeArray(sma)
            // console.log(sm);
            // console.log(sm.responseJSON);
            /*for(var i = 0; i<sma.length; i++) {
             sm.push(sma[0]);
             }
             console.log(sm);*/
            var smz = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
                'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
                'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
                'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
                'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
                'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
            ];

            /* $('.typeahead').typeahead({
             hint: true,
             highlight: true,
             minLength: 1
             },
             {
             name: 'sm',
             displayKey: 'value',
             source: substringMatcher(sm) //substringMatcher(sm)
             });*/

        </script>


    </body>
</html>