{% extends "viewTemplateWebsite.html.twig" %}
{%block title %}COMPARED | Mentions Légales {%endblock%}
{%block menu %}
    <ul id="menu">
        <li class="active" ><a href="Wui.php?run=getHomePage&argument=void">Accueil</a></li>
        <li><a href="Wui.php?run=prepareComparison&argument=void">Faire une comparaison</a></li>
        <li><a href="Wui.php?run=getHomePage&argument=void#smartphones">Smartphones</a></li>
        <li><a href="Wui.php?run=getHomePage&argument=void#articles">Articles</a></li>
        <li class="last"><a href="Wui.php?run=getHomePage&argument=void#contact">Contact</a></li>
    </ul>
{%endblock%}
{%block silder %}
    <div class="col-md-12 gallery" style="height: 300px!important"> 

        <div class="camera_wrap camera_white_skin"  id="camera_wrap_1" >
            <div data-thumb="" data-src="PUBLIC/IMAGE/slides/blank.gif">
                <div class="img-responsive camera_caption fadeFromBottom col-md-12 text-center">
                    <h2 style="font-size:40px; ">Mentions Légales</h2>


                </div>

            </div>
            <div data-thumb="" data-src="PUBLIC/IMAGE/slides/blank.gif">
                <div class="img-responsive camera_caption fadeFromBottom col-md-12 text-center">
                    <h2 style="font-size:40px;">COMPARED et SENGINE COMPARATOR</h2>
                </div>
            </div>
            <div data-thumb="" data-src="PUBLIC/IMAGE/slides/blank.gif">
                <div class="img-responsive camera_caption fadeFromBottom col-md-12 text-center">
                    <h2 style="font-size:30px;">&copy 2015 COMPARED Website / Version 0.10 Public Preview / Octimum project</h2>
                </div>
            </div>

        </div>
    </div>
{%endblock%}
{%block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 project">
                <div >
                    <h4>Propriétaire et créateur des applications : RAFINA DANY</h4>
                    <h4>Webmaster: RAFINA DANY</h4>
                    <h4>CMA ( Administrateur de la gestion du contenu ): RAFINA DANY</h4>
                    <h4>SAOCTIMUM ( Super Administrateur  ): RAFINA DANY</h4>
                    <h4>E-mail : <a href='mailto:danyrafina@gmail.com'>Cliquez-ici</a></h4>
                </div>

                <div class="col-md-12 project">
                    <div >
                        <h4>Version de COMPARED : 0.10 PUBLIC PREVIEW</h4>
                        <h4>Version de SENGINE : 0.02 BETA</h4>

                    </div>

                    <div class="col-md-12 project">
                        <div >
                            <h4>Hebergeur: OVH , 2 Rue Kellermann, 59100 Roubaix </h4>


                        </div>

                    </div>


                    <div class="col-md-12 project"> 

                        <ul style='list-style: none' >
                            <li><h4><span class='fa'>COMPARED</span> est une application web permettant de comparer des smartphones</h4></li>
                            <li><h4><span class='fa'>SENGINE </span> est une application web qui compare les smartphones</h4> </li>
                        </ul>
                    </div>

                </div>                 

                <div id="apropos">

                    <div class="container" style="padding-bottom: 30px;">
                        <div class="row news ">

                            <div class="col-md-12 text-center  " style="padding-bottom: 20px;"  >



                                <h4>Les données récoltés sont stockées sur votre navigateur via la technologie LocalStorage (Procédé consitant à sauvegarder des données dans votre navigateur web ).
                                    Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.
                                    Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant et donc ne pas utiliser cette page .


                                </h4>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    {%endblock%}

{%block contact %}{%endblock%}
{%block menuB %}
    <ul id="downMenu">
        <li class="active" ><a href="Wui.php?run=getHomePage&argument=void">Accueil</a></li>
        <li><a href="Wui.php?run=prepareComparison&argument=void">Faire une comparaison</a></li>
        <li><a href="Wui.php?run=getHomePage&argument=void#smartphones">Smartphones</a></li>
        <li><a href="Wui.php?run=getHomePage&argument=void#articles">Articles</a></li>
        <li ><a href="Wui.php?run=getHomePage&argument=void#contact">Contact</a></li>
        <li class="last"><a href="Wui.php?run=getLegalNotice&argument=void">Mentions Légales</a></li>
    </ul>
{%endblock%}