{% extends "viewTemplateWebsite.html.twig" %}
{%block title %}COMPARED | Mentions Légales {%endblock%}
{%block menu %}
{%endblock%}
{%block sectionHero %} <section class="hero"> {%endblock%}
{% block header %}
  <div class="row">
    <!--<ul class="related-posts group col-md-6 no-padding" style="margin: 0;">
        <div class="largeRelated h_comparison w_100 sm1 n_lgr">
              <span id="span_show" class="span_bg_blue span_bg_green span_font " style="opacity: 0;">

                                </span>
            <div class="pic1 img_c">
                <a href="#" class="bgOp">
                        <h2 class="textName1" style="bottom: 151px;width: 100%;background-color: rgba(0,0,0,0.5);">
                        Mentions Légales
                            <ul class='font-resize  ' style='list-style: none;'>
                    <li>Créateur-Propriétaire : RAFINA DANY </li>
                    <li>Créateur du logo  : KEVIN HURON </li>
                </ul>
                        </h2>
                </a>
            </div>
        </div>
    </ul>-->


    <ul class="related-posts group col-md-6 no-padding" style="margin: 0;">
        <div class="largeRelated h_comparison  sm2 w_100 n_lgr">
            <div class="pic2 img_c">
                <a href="#" class="bgOp">
                    <h2 class="textName2" style="bottom: 119px;width: 100%;background-color: rgba(0,0,0,0.5);">
                           <img class="img-logo" src="PUBLIC/IMAGE/logoCompared4.png" alt="COMPARED Logo">
                <p style="font-size:30px;">The smartphone comparator</p>
                <p style="font-size:30px;">En version : <span class="border_numbers">0.60 BETA </span></p>
                    </h2>


                </a>
            </div>
        </div>
    </ul>
    <ul class="related-posts group col-md-6 no-padding" style="margin: 0;">
        <div class="largeRelated h_comparison  sm2 w_100 n_lgr">
            <div class="pic2 img_c">
                <a href="#" class="bgOp">
                    <h2 class="textName2" style="bottom: 119px;width: 100%;background-color: rgba(0,0,0,0.5);">
                           <img class="img-logo" src="PUBLIC/IMAGE/logoCompared4.png" alt="COMPARED Logo">
                <p style="font-size:30px;">The smartphone comparator</p>
                <p style="font-size:30px;">En version : <span class="border_numbers">0.60 BETA </span></p>
                    </h2>


                </a>
            </div>
        </div>
    </ul>
        </div>
{% endblock %}
{%block silder %}
{%endblock%}
{%block content %}


     <section class="showcase borderSection" >
            <div class="showcase-wrap" style="padding:30px 0 ;" >
                <div class="texture-overlay"></div>
                <div class="container">
                    <div class="row news">
                        <div class="col-md-6 borderSection fixed_height_100 text-center white_font font_size_20 " >
                       
                            <h3 class='margin_top_10'>Hébergeur</h3>
                           

                            Hébergé sur <a href="#"></a>

                    </div>
                        <div class="col-md-6 borderSection fixed_height_100 text-center white_font font_size_20">
                       
                              Epaulé par <span class="text_pr text_pr_mod_sengine"> SENGINE </span>
                              <h4>(Moteur de comparaison)</h4>

                  </div>


                    <div class="col-md-12 text-center"> 

                        
                        <p class='white_font font_size_20'><span class='fa'>COMPARED</span> est issu du projet <em><strong>Ium</strong></em> ( Projet visant à créer 3 sites web )
                        <ul class="font_size_20 white_font" style='list-style: none' >
                            <li><a href="http://zoctium.fr.nf">Zoctium</a> - Une page d'accueil pour navigateur</li>
                            <li><a href="http://octimum.com">Octimum</a> - Blog sur le monde du numérique </li>
                            <li> COMPARED  </li>
                        </ul>
                        </p>
                                <p class='white_font font_size_20 '>C'est un site web de type blog mais également un comparateur de smartphone </p>
                                <p class='white_font font_size_20'>Il est épaulé par un moteur de comparaison appelé SENGINE <p>
                        
                    </div>

                </div>                 

                
                            <div class="col-md-12 text-center  font_size_20  borderSection  white_font" style="padding-bottom: 10px;"  >



                               Les données récoltés sont stockées sur votre navigateur via la technologie LocalStorage (Procédé consitant à sauvegarder des données dans votre navigateur web ).
                                    Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.
                                    Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant et donc ne pas utiliser cette page .

                               
                               
                            </div>
                        </div>
                    </div>
        </section>
    
    {%endblock%}
{%block menuB %}
{%endblock%}