{% extends "viewTemplateDashboard.html.twig" %}
{%block title %}COMPARED | Infos sur l'application{%endblock%}
{%block other %}

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
            Informations sur COMPARED

            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <!-- The time line -->
                    <h2>&copy; 2015 COMPARED - Web Application</h2>
                    
                      <div class="col-md-12 project">
                    <div >
                    <h4>Propriétaire et créateur des applications : RAFINA DANY</h4>
                    <h4>Webmaster: RAFINA DANY</h4>
                    <h4>CMA ( Administrateur de la gestion du contenu ): RAFINA DANY</h4>
                    <h4>SAOCTIMUM ( Super Administrateur  ): RAFINA DANY</h4>
                    <h4>E-mail : <a href='mailto:danyrafina@gmail.com'>Cliquez-ici</a></h4>
                
                    <div >
                        <h4>Version de COMPARED interne : 0.14 ALPHA</h4>
                    <h4>Version de COMPARED externe : 0.10 PUBLIC PREVIEW</h4>
                    <h4>Version de SENGINE : 0.02 BETA</h4>
                    
                </div>
                    
                 
                    <h4>Hébergeur: OVH , 2 Rue Kellermann, 59100 Roubaix </h4>
                   
            
                    </div>
                
                 
                 
                        
                        <h4><span class='fa'>COMPARED</span> est une application web permettant de comparer des smartphones</h4>
                           <h4><span class='fa'>SENGINE </span> est une application web qui compare les smartphones</h4>
                        
                    </div>
                
            </div>                 

            <div id="apropos">

                <div class="container" style="padding-bottom: 30px;">
                    <div class="row news ">
                        
                            <div class="col-md-12 text-center  " style="padding-bottom: 20px;"  >
                               
                                
                             
    <h4>Les données récoltés sont stockées sur votre navigateur via la technologie LocalStorage (Procédé consitant à sauvegarder des données dans votre navigateur web ).
    Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.
    Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant et donc ne pas utiliser cette page .


    </h4>
                </div>
                        
            </div><!-- /.row -->

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{%endblock%}